.Footer {
    border-top: 1px solid #E7E7E7;
    margin-top: 1.5rem;
    padding: 2rem;
    font-size: 1rem;
    text-align: left;
}

.FooterHeading {
    margin: 0.5rem 0rem;
}

.CompanyName {
    color:#AAA;
}

.BizDesc {
    color:#AAA;
    margin:0;
}

.LangBox {
    margin: 0.5rem 0 0.5rem 0;
}